.container {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100vh; */
    padding: 1rem;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: space-around;
}
.app-image{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.app-image img{
    width: 40vw;
    object-fit: cover;
}
.app-image h1{
    color: antiquewhite;
    font-size: 1.8rem;
}

.btn {
    background-color: rgba(195, 0, 255, 0.699);
    padding: 1.25rem 2rem;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.274);
    cursor: pointer;
    color: white;
    margin: 2rem;
    font-size: 1.5rem;
}

.wlc-msg {
    text-align: center;
    border: 5px solid yellow;
    background: rgb(48, 47, 47);
    border-radius: 50rem;
}

.wlc-msg h1 {
    color: white;
    margin: 1rem;
    font-size: 4rem;
}

.wlc-msg h3 {
    font-size: 1rem;
    text-align: center;
}

.poppins-regular {
    font-family: 'Josefin Sans' , sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn:hover {
    background-color: yellow;
    color: black;
    font-weight: 1000;
}

.dancing-script-regular {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.app-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(19, 17, 17);
    border: 1px solid black;
    border-radius: 50%;
}

.btns {
    display: flex;
    width: 50vw;
    justify-content: center;
}

@media screen and (max-width:1430px) {
    .container{
        flex-direction: column;
        margin-top: 0;
        text-align: center;
    }
    .app-image img{
        margin-bottom: 5rem;
        width: 80vw;
    }
    .app-image h1{
        margin: 3rem;
    }

    .wlc-msg h1{
        font-size: 2rem;
    }
    .app-options{
        border-radius: 50rem;
    }
    .typed{
        height: 7rem;
    }
    .btn{
        font-size: medium;
    }
 
}

body[data-aos-duration='3000'] [data-aos],
[data-aos][data-aos][data-aos-duration='3000'] {
  transition-duration: 3000ms;
}
